@media (max-width: 1300px) {
  .restaurants {
    &-content__item {
      padding: 0 9px;
      margin: 0;
      height: 100%;
    }

    &-content__item-food {
      height: 100%;
      max-height: 185px;
    }

    &-content__item-name {
      height: 100%;
      max-height: 112px;
    }
  }

  .footer-top {
    &__left {
      margin-right: 100px;
    }
  }
}

@media (max-width: 1100px) {
  .address {
    &-left {
      margin-right: 60px;
    }

    &-right {
      width: 100%;
      max-width: 430px;
    }

    &-left__title {
      line-height: 42px;
    }
  }

  .footer-top {
    display: block;

    &__left {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1050px) {
  .header-content {
    &__right {
      width: 700px;
    }

    &__left-title {
      font-size: 44px;
      line-height: 52px;
      width: 400px;
      margin-bottom: 60px;
    }
  }

  .restaurants {
    &-content__item {
      margin: 0 -2px;
    }
  }

  .restaurants-content {

    .slick-arrow {
      top: 95px;
    }

    .slick-list {
      height: 265px;
    }
  }
}

@media (max-width: 920px) {
  .header-content {
    &__right {
      width: 500px;
      height: 435px;
    }
  }

  .header-bottom {
    margin-top: 189px;
  }

  .restaurants-content {

    .slick-arrow {
      top: 125px;
    }

    .slick-list {
      height: 300px;
    }
  }

  .kitchens {
    &__items {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 24px;
    }

    &__item {
      width: 100%;
    }

    &__img {
      width: 100%;
    }

    &__item+.kitchens__item {
      margin-left: 0px;
    }
  }

}

@media (max-width: 880px) {
  .address {
    padding: 50px 0;

    &__inner {
      display: block;
    }

    &-left {
      margin-top: 0;
      margin-bottom: 40px;
      margin-right: 0;
    }

    &-right {
      max-width: 100%;
    }

    &-right__input {
      max-width: 100%;
    }

    &-right__btn {
      width: 100%;
      max-width: 88px;
    }

    &-left__text {
      max-width: 100%;
    }

    &-right__form {
      display: flex;
    }
  }
}

@media (max-width: 800px) {
  .restaurants-content {

    .slick-arrow {
      top: 95px;
    }

    .slick-list {
      height: 260px;
    }
  }

  .lemon {
    padding: 40px 0;

    &-items {
      flex-wrap: wrap;
    }

    &-item {
      margin: 40px 0;
    }
  }

  #map {
    height: 400px;
  }

  .specialities-content {

    .slick-slide {
      padding: 0 8px;
    }

    &__item {
      height: 100%;
    }

    &__img {
      margin-top: 20px;
    }

    &__subtitle {
      margin-bottom: 20px;

    }

    .slick-arrow {
      top: 40px;
      width: 44px;
      height: 44px;
    }
  }
}

@media (max-width: 700px) {
  .header-bottom {
    &__box-items {
      display: block;
    }

    &__box-one__text,
    &__box-two__text,
    &__box-three__text {
      width: 100%;

    }

    &__box-all {
      margin: 0;
      padding: 15px 0;
      height: auto;
    }
  }

  .restaurants-content {

    .slick-arrow {
      width: 44px;
      height: 44px;
    }

    .slick-list {
      height: 230px;
    }

    .slick-next {
      svg {
        margin-top: 8px;
      }
    }
  }

  .footer-top {
    &__right {
      flex-wrap: wrap;
    }

    &__right-item {
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 760px) {
  .header-content {
    &__right {
      width: 350px;
      margin-top: 120px;
      height: 320px;
    }
  }
}

@media (max-width: 630px) {

  .header-top {
    &__right-item__text {
      margin-right: 25px;
    }
  }

  .header-content {
    &__right {
      display: none;
    }

    &__left {
      margin-top: 60px;
    }
  }

  .header-bottom {
    margin-top: 100px;
  }
}

@media (max-width: 600px) {
  .restaurants-content {

    .slick-list {
      height: 285px;
    }
  }

  .title {
    font-size: 32px;
    line-height: 40px;
  }

  .restaurants {
    padding: 30px 0 30px;
  }

  .kitchens {
    &__items {
      grid-gap: 12px;
      margin: 20px 0 40px;
    }
  }

  .btn {
    line-height: 15px;
    padding: 14px 20px 12px 20px;
  }

  .footer-bottom {
    display: block;
    margin-top: 50px;

    &__lists {
      justify-content: center;
    }

    &__link-end {
      justify-content: center;
      margin-top: 20px;
    }

    &__link-end__left+.footer-bottom__link-end__left {
      margin-left: 30px;
    }

    &__end-left {
      margin-left: 30px;
    }
  }
}

@media (max-width: 500px) {
  .restaurants-content {

    .slick-list {
      height: 235px;
    }
  }


}

@media (max-width: 460px) {
  .header-top {
    padding-bottom: 8px;

    &__inner {
      display: block;
    }

    &__right {
      justify-content: space-around;
    }

    &__left-logo {
      margin: 24px auto;
    }

    &__burger {
      margin-top: 8px;
    }
  }

  .header-content {
    &__left {
      margin-top: 79px;
    }

    &__left-title {
      font-size: 38px;
      line-height: 42px;
      width: 100%;
    }

    &__left-box {
      justify-content: center;
    }
  }

  .restaurants-content {

    .slick-list {
      height: 450px;
    }

    &__item-food,
    &__item-name {
      width: 100%;
    }

    &__item-food {
      max-height: 250px;
    }

    &__item-name {
      max-height: 152px;
    }

    .slick-arrow {
      top: 190px;
    }

    &__item {
      margin: 0;
    }
  }

  .lemon {
    &-item {
      margin: 40px 0;
      margin-bottom: 10px;
    }
  }

  .kitchens {
    &__items {
      grid-template-columns: repeat(1, 1fr);

    }
  }

}

@media (max-width: 380px) {
  .restaurants-content {

    .slick-list {
      height: 350px;
    }

    .slick-arrow {
      top: 160px;
    }
  }

  .title {
    font-size: 27px;
    line-height: 35px;
  }

  .restaurants-top {
    &__link {
      font-size: 14px;
    }
  }

  .address {
    padding: 30px 0;

    &-right__btn {
      max-width: 100%;
    }

    &-right__form {
      display: block;
    }
  }
}

@media (max-width: 340px) {
  .restaurants-content {

    .slick-list {
      height: 320px;
    }

    .slick-arrow {
      top: 125px;
    }
  }
}