$title: #3F4255;
$accent: #FFE145;
$text: #9093A6;

%martelsans-300 {
  font-family: 'MartelSans-light', sans-serif;
  font-weight: 300;
}

%martelsans-400 {
  font-family: 'MartelSans-Regular', sans-serif;
  font-weight: 400;
}

%martelsans-700 {
  font-family: 'MartelSans-Bold', sans-serif;
  font-weight: 700;
}

%martelsans-800 {
  font-family: 'MartelSans-ExtraBold', sans-serif;
  font-weight: 800;
}

%poppins-300 {
  font-family: 'Poppins-Light', sans-serif;
  font-weight: 300;
}

%poppins-600 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}

%OpenSans_Condensed-700 {
  font-family: 'OpenSans_Condensed-Bold', sans-serif;
  font-weight: 700;
}