%martelsans-300 {
  font-family: 'MartelSans-light', sans-serif;
  font-weight: 300;
}

%martelsans-400 {
  font-family: 'MartelSans-Regular', sans-serif;
  font-weight: 400;
}

%martelsans-500 {
  font-family: 'MartelSans-Bold', sans-serif;
  font-weight: 500;
}

%poppins-300 {
  font-family: 'Poppins-Light', sans-serif;
  font-weight: 300;
}

%poppins-600 {
  font-family: 'Poppins-SemiBold', sans-serif;
  font-weight: 600;
}

%OpenSans_Condensed-700 {
  font-family: 'OpenSans_Condensed-Bold', sans-serif;
  font-weight: 700;
}