@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';




.header {
  overflow: hidden;
}


.header-top {
  position: relative;
  border-bottom: 1px solid #D4D7E6;
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__left-logo {
    margin: 24px 0;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  &__right-user__img {
    position: relative;
    top: 2px;
    margin-right: 6px;
  }

  &__right-cart__img {
    position: relative;
    margin-right: 5px;
    top: 4px;
  }

  &__right-item {
    display: inline-block;
  }

  &__right-item__text {
    line-height: 20px;
    @extend %martelsans-700;
    color: $text;
    margin-right: 50px;
  }


  &__right-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 48px;
    height: 48px;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    position: relative;
    border-radius: 50%;
  }

 

  &__right-btn__img {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
  }

 &__right-btn__img-open {
    display: none;
  }

 

  &__right-btn__img--active {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: block;
    z-index: 4;
  } 
  
  &__right-btn__img-close {
    display: none;
  }
}



.header-top__burger {
  border-top: 1px solid #D4D7E6;
  background-color: #fff;
  width: 285px;
  padding: 0 42px 0 36px;
  position: absolute;
  right: 0;
  z-index: 10;
  height: 700px;
  transition: all .5s;
  transform: translateX(300%);


  &-link__call {
    display: flex;
    align-items: center;
    @extend %martelsans-700;
    line-height: 20px;
    margin-top: 22px;
  }

  &-link__text {
    margin-left: 37px;
    @extend %martelsans-400;
    font-size: 12px;
    line-height: 16px;
    color: $text;
  }

  &-link__img {
    margin-right: 13px;
  }

  &-list {
    @extend %martelsans-700;
    line-height: 20px;
    color: $text;
    padding: 22px 0;
    border-bottom: 1px solid #F2F4FA;
    width: 207px;
  }

  &-list__call {
    padding-top: 0;
  }

  &-language {
    display: flex;
    align-items: center;
    margin-top: 28px;
    justify-content: end;
  }

  &-language__select {
    @extend %martelsans-800;
    font-size: 12px;
    line-height: 16px;
    color: $text;
    margin-right: 6px;
  }
}

.header-top__burger--active {
  transform: translateX(0%);
  transition: all .5s;
}

.header-content {
  margin-top: 72px;

  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  &__left {
    margin-top: 120px;
  }

  &__left-title {
    @extend %poppins-300;
    font-size: 58px;
    line-height: 64px;
    width: 525px;
    margin-bottom: 88px;
  }

  &__left-box {
    display: flex;
  }

  &__left-box__one,
  &__left-box__two {
    border: 2px solid $accent;
    border-radius: 4px;
    text-align: center;
    width: 118px;
    padding: 16px 18px;
  }

  &__left-box__one {
    margin-right: 24px;
  }

  &__left-box__one-title,
  &__left-box__two-title {
    @extend %martelsans-700;
    line-height: 20px;
    color: $title;
    font-size: 16px;
  }

  &__left-box__one-text,
  &__left-box__two-text {
    display: block;
    @extend %martelsans-400;
    font-size: 12px;
    line-height: 16px;

  }

  &__right {
    margin-top: 25px;
    position: absolute;
    z-index: -1;
    width: 803px;
    height: 706px;
    right: 0;
  }

  &__right-img {
    object-fit: cover;
  }
}

.header-bottom {
  margin-top: 276px;

  &__box {
    background-color: #fff;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
    width: 100%;
    max-width: 872px;
    height: 104px;
  }

  &__box-items {
    display: flex;
    justify-content: space-around;
  }

  &__box-all {
    display: flex;
    align-items: center;
    margin: 24px 0;
    height: 56px;
  }

  &__img-all {
    margin-right: 16px;
  }

  &__box-one__text {
    width: 182px;
  }

  &__box-two__text {
    width: 124px;
  }

  &__box-three__text {
    width: 172px;
  }
}















@import 'media';